{{define "bodyContent" }}

<div class="centeredPanel">
  <h1> List of all the companies inside the database</h1>
    <ul>
      {{ range .AllCompanies}}
      <li>
        ({{.ID}}) <a href="/company/{{.ID}}"> {{.Name}} </a> - {{ .Description }}
      </li>
      {{end}}
    </ul>
</div>
  {{end}}
