

<body>
<h1> List of all the companies inside this</h1>
  <ul>
    {{ range .AllCompanies}}
    <li>
      {{ .Id }}: <span class="name">{{.Name}}</span> <a href="{{ .Homepage }}"> {{.Name}} </a> - {{ .Description }}
    </li>
    {{end}}
  </ul>
</body>
