{{define "mainPage"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Main DB Editor</title>
    <link rel="stylesheet" href="/static/index.css">
  </head>
  <body>
    <div class="topNav">
      <a href="/">Main Menu</a>
    </div>
    <div class="mainContent">
      {{ template "bodyContent" . }}
    </div>

  </body>
</html>
{{end}}
