{{define "bodyContent" }}

<body>
    <h1>Companies Recruiting Software developers in Japan </h1>

    <p> This website will contain a list of companies recruiting software developers in Japan </p>
    <ul>
      <li><a href="/allCompanies">List of all companies</a></li>
      <li>Looking at One company</li>
    </ul> 
</body>
{{end}}