{{define "bodyContent" }}

<div class="centeredPanel"> 
  <h2> Details about company {{.Name}}</h2>
    <p> {{ .Description }} </p>
    <p> Please have a look at the company official site: </p>
      <a href="{{ .Homepage }}"> {{.Name}} </a>
    <p> <a href="/allCompanies">Back</a> </p>
</div>  

{{end}}
